.green-part{
    background: #a5c926
}
.green-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.green-wrapper .left{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 14px;
}
.green-wrapper .left a{
    color: #fff;
}
.green-wrapper .right i{
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

nav{
    background: #fff;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.nav .left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.nav .left .logo{
    font-size: 25px;
}
.nav .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.nav .menu li a{
    text-decoration: none;
    color: #000;
}
.nav .menu li a:hover{
    text-decoration: underline;
}

.nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav .right i{
    font-size: 20px;
}

.nav .right span:last-child{
    background: #a5c926;
    color: #fff;
    border-radius: 999px;
    padding: 2px 8px;
}

@media(max-width: 479px){
    .green-wrapper .left span:last-child{
        display: none;
    }
}